.movie {
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:var(--accent);
    /*box-shadow: var(--shadow);*/
    /*transition: all ease 500ms;*/
}

/*.movie:hover {*/
/*    height: calc(var(--movie-card-height) - 5px);*/
/*    box-shadow: 0 0 1em var(--accent-hover), 0 0 1em var(--accent-hover), 0 0 10px var(--accent-hover), 0 0 1em var(--accent-hover), 0 0 1em var(--accent-hover);*/
/*}*/

.img_container {
    /*height: 70%;*/
    height: calc(var(--movie-card-height) * 0.6);
    border-radius: var(--radius) var(--radius) 0 0;
}

.content {
    padding: 0.2em;
    /*height: 30%;*/
    height: calc(var(--movie-card-height) * 0.4 - 0.2em);
    width: 100%;
    color: var(--text-secondary);
    border-radius: 0 0 var(--radius) var(--radius);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating {
    text-align: center;
    margin: 0.2em;
    /*color:red;*/
    /*background:var(--accent-hover);*/


}


.title {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.2em;
}

.date {
    text-align: end;
    margin: 0.2em;
}