:root {

    /*size*/
    --container-max-width:1000px;
    --container-min-width:400px;
    --header-height:12vh;
    --header-min-height:50px;
    --mobile-width:500px;

    --burger-z-index:10;
    --sidebar-width: 200px;
    --sidebar-width-collapsed: 80px;
    --movie-card-min-width: 270px;
    --movie-card-height: 350px;
    --radius: 1em;
}
