.movie_list {
    /*height: 100%;*/
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;

}
.footer{
    height: calc(var(--header-height) + 1vh);;
}

.pagination {
    position: fixed;
    bottom: 0;
    opacity: 0.9;

    padding-bottom: calc(var(--header-height) + 1vh);

    height: var(--header-height);
    width: 100%;
}