.movie_info {
    display: flex;
}

.poster_container {
    width: 300px;
}

.content_container {

}

.title{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.2em;
}
.rating{
    text-align: center;
    margin: 0.2em;
}
.date {
    text-align: end;
    margin: 0.2em;
}