.genres{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

    /*font-size: 1.6em;*/
    padding: 3em 1em;

    max-width: calc( var(--container-max-width) - 20vw);
    margin: 0 auto;

}

single_genre{
    /*height: 10vh;*/
    flex-grow: 2;
}