.genres{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 3em 1em;
    max-width: calc( var(--container-max-width) - 20vw);
    margin: 0 auto;

}

single_genre{
    flex-grow: 2;
}