.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-height);
    min-height: var(--header-min-height);
    box-shadow: 0 4px 4px -4px var(--text-primary);
    color: var(--text-primary);
    padding-left: calc(2vw + 40px);
    gap: 0.2em;

z-index: 5;
}

.burger{
    display: none;
}

.shevron{
    /*border: 1px solid red;*/
    /*color:red;*/
    height: calc(var(--header-height) - 3vh);
    width: 40px;
    background: var(--background-inverted);

    position: absolute;
    top: 1vh;
    left: 1vw;
}

@media (max-width: 550px) {
    :root{
        --header-height: 7vh;
    }
    .burger {
        display: block;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
    }
}