.error {
    /*margin-top: calc( var(--header-height) + 5vh);*/
    height: calc(100vh - var(--header-height) );
    padding-top:  2vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid red;
}

.error img {
    width: auto;
    height: 60vh;
    object-fit: cover;
    border-radius: 50%;

    border: 1px solid var(--border);
    background-color: var(--accent);
    box-shadow: var(--shadow);
    transition: all ease 500ms;

}

.error h1 {
    position: absolute;
    top: 25vh;
    font-size: 5em;
    /*left:-1em;*/
    /*right: -2em;*/
    color: var(--star-primary);
    background: transparent;
    text-align: center;
}

.error h3 {
    position: absolute;
    top: 65vh;
    font-size: 2em;
    /*left:-1em;*/
    /*right: -2em;*/
    color: var(--star-primary);
    background: transparent;
    text-align: center;
}